<head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<style>
    .hidden {
        visibility: hidden;
    }
</style>

<body>
    <main id="content">
        <div class="wrapper">
            <form>
                <label for="username">Username: </label><input type="text" id="username" />
                <label for="password">Password: </label><input type="password" id="password" />
                <input type="submit" value="Submit" id="submit" />
                <p class="error hidden">неккоректный логин или пароль</p>
            </form>
        </div>
    </main>
</body>


<script src="./script.js"></script>
